In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\surface\Downloads\BlueOrRed missing value.csv")

In [3]:
data.isnull().any()

Undecided        False
Age              False
HomeOwner         True
Female           False
Married          False
HouseholdSize     True
Income           False
Education         True
Church            True
dtype: bool

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
Undecided        10000 non-null int64
Age              10000 non-null int64
HomeOwner        9998 non-null float64
Female           10000 non-null int64
Married          10000 non-null int64
HouseholdSize    9999 non-null float64
Income           10000 non-null float64
Education        9999 non-null float64
Church           9999 non-null float64
dtypes: float64(5), int64(4)
memory usage: 703.2 KB

In [5]:
from sklearn.impute import SimpleImputer

In [6]:
SI=SimpleImputer(strategy='most_frequent')

In [7]:
SI.fit_transform(data.loc[:,["Education"]])

array([[15.],
       [18.],
       [20.],
       ...,
       [ 8.],
       [11.],
       [ 8.]])

In [8]:
data.Education=SI.fit_transform(data.loc[:,["Education"]])

In [9]:
handlingnan=[["HomeOwner","HouseholdSize","Church"]]

In [10]:
for col in handlingnan:
    data.loc[:,col]=SI.fit_transform(data.loc[:,col])

In [11]:
data.isnull().any()

Undecided        False
Age              False
HomeOwner        False
Female           False
Married          False
HouseholdSize    False
Income           False
Education        False
Church           False
dtype: bool

In [12]:
data.Education.isnull()

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: Education, Length: 10000, dtype: bool

In [13]:
data.HouseholdSize.isnull()

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: HouseholdSize, Length: 10000, dtype: bool

In [14]:
data.isnull().any()

Undecided        False
Age              False
HomeOwner        False
Female           False
Married          False
HouseholdSize    False
Income           False
Education        False
Church           False
dtype: bool

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X=data.iloc[:,1:9]

In [17]:
X

,Age,HomeOwner,Female,Married,HouseholdSize,Income,Education,Church
0,51,1.0,1,1,4.0,171.0,15.0,0.0
1,37,1.0,1,1,3.0,96.0,18.0,0.0
2,53,1.0,1,1,6.0,86.0,20.0,0.0
3,33,1.0,1,1,2.0,176.0,18.0,1.0
4,46,1.0,1,1,6.0,420.0,15.0,1.0
...,...,...,...,...,...,...,...,...
9995,27,1.0,1,0,1.0,140.5,12.0,0.0
9996,32,1.0,1,1,2.0,79.0,11.0,1.0
9997,35,0.0,1,0,1.0,15.0,8.0,1.0
9998,26,0.0,0,0,5.0,5.0,11.0,1.0
9999,26,0.0,1,1,2.0,6.0,8.0,0.0

In [18]:
Y=data.loc[:,"Undecided"]

In [19]:
Y

0       1
1       1
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: Undecided, Length: 10000, dtype: int64

In [20]:
train_X,test_X,train_Y,test_Y=train_test_split(X,Y,test_size=0.4)

In [21]:
from sklearn.linear_model import LogisticRegression

In [22]:
LR=LogisticRegression()

In [23]:
LR.fit(train_X,train_Y)

C:\Users\surface\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
Undecided        10000 non-null int64
Age              10000 non-null int64
HomeOwner        10000 non-null float64
Female           10000 non-null int64
Married          10000 non-null int64
HouseholdSize    10000 non-null float64
Income           10000 non-null float64
Education        10000 non-null float64
Church           10000 non-null float64
dtypes: float64(5), int64(4)
memory usage: 703.2 KB

In [25]:
data.isnull().any()

Undecided        False
Age              False
HomeOwner        False
Female           False
Married          False
HouseholdSize    False
Income           False
Education        False
Church           False
dtype: bool

In [26]:
LR.predict(test_X)

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [27]:
Y_pred=LR.predict(test_X)

In [28]:
from sklearn.metrics import classification_report

In [30]:
print(classification_report(test_Y,Y_pred))

              precision    recall  f1-score   support

           0       0.76      0.83      0.79      2382
           1       0.71      0.62      0.66      1618

    accuracy                           0.74      4000
   macro avg       0.74      0.72      0.73      4000
weighted avg       0.74      0.74      0.74      4000

In [31]:
from sklearn.neighbors import KNeighborsClassifier

In [34]:
KNN=KNeighborsClassifier(n_neighbors=7)

In [35]:
KNN.fit(train_X,train_Y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=7, p=2,
                     weights='uniform')

In [36]:
KNN.predict(test_X)

array([0, 0, 1, ..., 0, 1, 0], dtype=int64)

In [38]:
Y_pred1=KNN.predict(test_X)

In [40]:
print(classification_report(test_Y,Y_pred1))

              precision    recall  f1-score   support

           0       0.81      0.82      0.81      2382
           1       0.72      0.71      0.72      1618

    accuracy                           0.77      4000
   macro avg       0.77      0.76      0.77      4000
weighted avg       0.77      0.77      0.77      4000

In [41]:
from sklearn.tree import DecisionTreeClassifier

In [43]:
DTC=DecisionTreeClassifier(min_samples_split=10,criterion='entropy')

In [44]:
DTC.fit(train_X,train_Y)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=10,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [45]:
DTC.predict(test_X)

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

In [46]:
Y_pred2=DTC.predict(test_X)

In [47]:
print(classification_report(test_Y,Y_pred2))

              precision    recall  f1-score   support

           0       0.98      0.99      0.98      2382
           1       0.98      0.97      0.97      1618

    accuracy                           0.98      4000
   macro avg       0.98      0.98      0.98      4000
weighted avg       0.98      0.98      0.98      4000